{%extends 'base.html'%} {%block title%} Check {%endblock%} {%block content%}
<div
  class="container vertical-center mt-4 h d-flex justify-content-between align-items-center flex-column"
>
  <h1 class="my-5">Auto Loan</h1>
  <table class="autoloantable table table-sm">
    <thead>
      <tr>
        <th scope="col"><b>FICO</b>'s Scores</th>
        <th scope="col">APR</th>
        <th scope="col">Monthly Payment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>720-850</b></td>
        <td>3.5%</td>
        <td>570$</td>
      </tr>
      <tr>
        <td><b>650-719</b></td>
        <td>5.0%</td>
        <td>600$</td>
      </tr>
      <tr>
        <td><b>600-649</b></td>
        <td>7.0%</td>
        <td>620$</td>
      </tr>
      <tr>
        <td><b>550-599</b></td>
        <td>9.5%</td>
        <td>650$</td>
      </tr>
      <tr>
        <td><b>500-549</b></td>
        <td>15%</td>
        <td>700$</td>
      </tr>
    </tbody>
  </table>

  <a href={{"/view/admin-score?ID=" + id | string}}>
    <button type="button" class="btn btn-secondary btn-lg">Back</button>
  </a>
</div>
{%endblock content%}
